#include ".cache/colorer/Xresources"

! URxvt Appearance
#define FONT scientifica
#define FONT_SIZE 8
URxvt.font: xft:FONT:style=Regular:size=FONT_SIZE:antialias=true:hinting=true,xft:IPAGothic:size=11,xft:Typicons:minspace=False:size=FONT_SIZE
!URxvt.font: xft:Typicons:style=Book:minspace=False:size=11,xft:FONT:style=Regular,size=FONT_SIZE
URxvt.boldFont: xft:FONT:style=Bold:size=FONT_SIZE:antialias=true:hinting=true,xft:IPAGothic:size=11,xft:Typicons:size=FONT_SIZE
URxvt.italicFont: xft:FONT:style=Regular Italic:size=FONT_SIZE:antialias=true:hinting=true,xft:Typicons:size=FONT_SIZE
URxvt.boldItalicFont: xft:FONT:style=Bold Italic:size=FONT_SIZE:antialias=true:hinting=true,xft:Typicons:size=FONT_SIZE
URxvt.letterSpace: -6
URxvt.lineSpace: 0
URxvt.geometry: 80x24
! URxvt.geometry: 75x20
URxvt.internalBorder: 32
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
! URxvt.depth: 32
URxvt.iso14755: false
URxvt.transparent: false


!! Common Keybinds for Navigations
URxvt.keysym.M-k: command:\033]720;1\007
URxvt.keysym.M-j: command:\033]721;1\007

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,resize-font
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.urlLauncher: qutebrowser
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.font-size.step: 1

!! Xterm
xterm*faceName: FONT
xterm*faceSize: FONT_SIZE
xterm*internalBorder: 36
!xterm*font: 10x16
xterm*scaleHeight: 0.99
!xterm*letterSpace: -2
xterm*termName: xterm-256color

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
