$bgDarker: mix({bg}, #000, 90%);

.messages-3amgkR {
  background-color: {bg} !important;
}

.panels-j1Uci_,
.scrollableContainer-2NUZem,
.scroller-2TZvBN,
.searchBar-3dMhjb {
  background-color: $bgDarker !important;
}

.theme-dark {
  --background-color: {bg} !important;
  --background-primary: {bg} !important;
  --background-secondary: {bg} !important;
  --background-secondary-alt: $bgDarker !important;
  --background-tertiary: $bgDarker !important;
  --background-accent: {color1} !important;
  --background-floating: $bgDarker !important;
  --text-link: {color1} !important;
  --focus-primary: {color6} !important;
  --channeltextarea-background: {bg} !important;
  --activity-card-background: {bg} !important;
  --depreciated-store-bg: {bg} !important;
  --deprecated-quickswitcher-input-background: $bgDarker !important;
  --deprecated-text-input-border-hover: $bgDarker !important;
  --deprecated-text-input-border-disabled: $bgDarker !important;
}

//  connection screen
.container-16j22k {
  background-color: $bgDarker !important;
}
.appMount-3lHmkl, body {
  background-color: $bgDarker !important;
}

//  login screen
.theme-dark.authBox-hW6HRx {
  background: {bg} !important;
}
.appMount-3lHmkl 
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: {color1} !important;
}
.lookLink-9FtZy-.colorBrand-3pXr91 {
  color: {color1} !important;
}
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: {color1} !important;
}
//  private call
.wrapper-2qzCYF.minimum-28Z35l {
  background-color: rgba({bg}, 0.8) !important;
}
.centerButton-3CaNcJ {
  background: rgba({bg}, 0.6);
}

//  channel list 
.container-PNkimc {
  background-color: {bgDarker} !important;
}
  //  discord icon
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: {color1} !important;
}
.item-2hkk8m {
  background-color: {color1} !important;
}

//  make '#' in front of channels match text color 
.foreground-2W-aJk {
  fill: {color6} !important;
}

//  channels with unread messages 
.nameUnreadText-DfkrI4,
.nameUnreadVoice-EVo-wI {
  color: {color6} !important;
}
.numberBadge-2s8kKX {
 background-color: {color6} !important;
}

//  default channel style 
.nameDefaultText-24KCy5,
.nameDefaultVoice-3WUH7s,
.nameLockedText-3pqQcL,
.nameLockedVoice-26MhB1 {
  color: rgba({fg}, 0.5) !important;
}

//  channel group name 
.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2,
.nameCollapsed-34uFWo,
.nameDefault-2DI02H {
  color: rgba({fg}, 0.7) !important;
}

//  muted channels 
.nameMutedText-3Vj4bM,
.nameMutedVoice-3oxyQZ {
  color: rgba({fg}, 0.2) !important;
}

//  unread channels left dot 
.unread-1Dp-OI {
  background: {color6} !important;
}

//  box around select channel 
.contentSelectedText-3wUhMi {
  background: rgba({color1}, 0.2) !important;
}

//  box on channel hover 
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO:active,
.contentSelectedVoice-1WDIBM:active {
  background: rgba({color1}, 0.1) !important;
}

//  voice connected 
.container-1UB9sr {
  background-color: $bgDarker !important;
  border-bottom: 1px solid rgba({color1}, 0.1) !important;
}

//  avatar container 
.container-2Thooq {
  background-color: $bgDarker !important;
  //  buttons 
  .horizontal-1ae9ci button {
    fill: {color1} !important;
  }
}

//  "New Unreads" 
.unread-1xRYoj {
  background-color: rgba({color6}, 0.75) !important;
}

//  textbox margins 
.content, .content-yTz4x3 {
  background-color: {bg} !important;
}

//  input form background
.inner-zqa7da {
  background-color: rgba({color1}, 0.1) !important;
}

//  attachment button color 
.attachButtonPlus-rUdX-B {
  fill: {color1} !important;
}
//  nitro
  //  nitro page
.scroller-9moviB {
  background-color: {bg} !important;
}
  //  nitro gift button color
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: $bgDarker !important;
}
  //  nitro gift popup
.theme-dark .root-1gCeng {
  background-color: {bg} !important;
}
.theme-dark .footer-3rDWdC {
  background-color: {bg} !important;
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
  color: rgba({color1}, 0.8) !important;
  border-color: rgba({color1}, 0.2) !important;
}

//  messages - form separator 
.chat form,
.chat-3bRxxu form {
  background-color: {bg} !important;
  box-shadow: 0 -1px 0 rgba({color6}, 0.1) !important;
}

//  "Load More Messages" button 
.has-more button,
.hasMore-3e72_v button {
  background-color: {bg} !important;
  border-color: transparent !important;
}

.jump-to-present-bar {
  background-color: rgba({color1}, 0.6) !important;
}

//  edit message box 
.inner-zqa7da {
  background-color: rgba({color1}, 0.1) !important;
}

//  divider is what displays the date for older messages 
.messages .divider,
.divider-3gKybi {
  & > span {
    background-color: {bg} !important;
  }
  &:not(.red) div {
    background: rgba({color1}, 0.3) !important;
  }
  &:not(.red) span {
    color: rgba({color1}, 0.6) !important;
  }
  &.divider-red {
    & > span {
      color: {color6} !important;
    }    
    & > div {
      background: {color6} !important;
    }
  }  
}
.isUnread-3Ef-o9 {
  border-color: {color6} !important;
}
.unreadPill-2HyYtt {
  background-color: {color6} !important;
}
.unreadPillCapStroke-7rkHbg {
  color: {color6} !important;
  fill: {color6} !important;
}
  //  reaction menu
.wrapper-2aW0bm {
  background-color: rgba({bg}, 0.8) !important;
}

//  bar displayed at the top of the messages when there are unread ones 
.new-messages-bar,
.newMessagesBar-mujexs {
  background-color: rgba({color6}, 0.9) !important;
}

//  message container 
.messages-wrapper,
.messagesWrapper-3lZDfY {
  background-color: {bg} !important;
}

.message-group {
  // message text
  .markup,
  .markup-2BOw-j {
    color: {fg} !important;
    //  for code within single backquotes 
    code.inline {
      background-color: mix({bg}, {color1}, 85%) !important;
    }
    //  for codeblocks (triple backquotes)
    pre {
      code {
        background-color: mix({bg}, {color1}, 90%) !important;
      }
      border-color: {bg} !important;
    }
  }

  //  embed cards 
  .embedInner-1-fpTo {
    background-color: mix({bg}, {color1}, 90%) !important;
  }

  //  message with user mention 
  .mentioned .message-text {
    background-color: rgba({color6}, 0.1) !important;
    &:after {
      background: transparent !important;
      border-left-color: {color6} !important;
    }
  }
}
    //  user mention fix
.wrapper-3WhCwL {
  color: rgba({color6}, 0.8) !important;
}
   //  mentioned background
.mentioned-xhSam7 {
  background-color: rgba({color6}, 0.1) !important;
}
.mentioned-xhSam7:before {
  background-color: {color6} !important;
}

//  users list  
.members-1998pB {
  background-color: $bgDarker !important;
}
.sidebar-2K8pFh {
  background: {bg} !important;
}
.selected-aXhQR6 .layout-2DM8Md {
  background-color: rgba({color1}, 0.2) !important; 
}

//  user typing message 
.typing-2GQL18 {
  background-color: {bg} !important;
}

//  title bar 
.title-3qD0b- {
  background-color: $bgDarker !important;
  .search-bar {
    background-color: rgba({color1}, 0.2) !important;
  }
}
.container-1r6BKw.themed-ANHk51 {
  background: {bg} !important;
}

//  server list 
.guilds-wrapper,
.guildsWrapper-5TJh6A,
.wrapper-1Rf91z {
  background-color: $bgDarker !important;
}
.guilds-add,
.circleIconButton-jET_ig {
  border: 1px dashed rgba({color1}, 0.3) !important;
  background: inherit !important;
  color: rgba({color1}, 0.4) !important;
}
.guild .guild-inner,
.guild-1EfMGQ .guild-inner,
.container-2td-dC .wrapper-2lTRaf {
  background: inherit !important;
}
.guild.unread:before,
.guild-1EfMGQ.unread-qLkInr:before,
.wrapper-232cHJ {
  background: rgba({color6}, 0.65) !important;
}

//  n friends online 
.friends-online,
.friendsOnline-_wi_fM,
.friendsOnline-2JkivW {
  color: {color1} !important;
}

//  server menu 
.menu-Sp6bN1 {
  background: {bg} !important;
  .separator-2zcjq8 {
    background: rgba({color1}, 0.4) !important;
  }
}

//  pinned messages 
.messagesPopoutWrap-1MQ1bW {
  background-color: $bgDarker !important;
  //  header 
  .header-ykumBX {
    background: {bg} !important;
  }
  //  footer 
  .footer-1kmXd4 {
    background: {bg} !important;
  }
  //  pinned message view 
  .messagesPopout-24nkyi .message-group {
    @extend .message-group;
    background-color: {bg} !important;
    //  jump 
    .actionButtons-1sUUug .jumpButton-3DTcS_ {
      background-color: rgba({color1}, 0.6) !important;
    }
  }
}
  //  notification
.iconBadge-qZ4Ksk {
  background-color: {color6} !important;
}

//  spinners 
.spinner-wandering-cubes .spinner-item {
  background-color: {color1} !important;
}

//  app scrollbars 
.scroller-wrap .scroller,
.scroller-wrap .scroller-2FKFPG,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG {
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track-piece {
    border-color: {bg} !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: mix({bg}, {color1}, 75%) !important;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: {bg} !important;
  }
}

//  firefox scrollbars 
.scrollbar-2rkZSL {
  background-color: $bgDarker !important;
  .track-1JN30G {
    background-color: $bgDarker !important;
  }
  .pad-29zQak {
    background-color: $bgDarker !important;
  }
  .thumb-2JwNFC {
    background-color: rgba({color1}, 0.1) !important;
  }
}

//  DMs 
  //  box around selected chat 
.channel.selected a,
.channel-2QD9_O.selected-1HYmZZ a {
  background: rgba({color1}, 0.2) !important;
}
  //  box on hover 
.channel:hover a,
.channel-2QD9_O:hover a {
  background: rgba({color1}, 0.1) !important;
}
  // create dm popup
.theme-dark .modal-yWgWj- {
  background-color: {bg} !important;
}

//}  friends tab 
#friends,
.container-3gCOGc {
  background-color: {bg} !important;
  //  title bar 
  .headerBar-UHpsPw {
    background: $bgDarker !important;
  }
  .friends-table,
  .friendsTable-133bsv {
    background-color: {bg} !important;
    .friends-row:hover,
    .friendsRow-2yicud:hover {
      background-color: rgba({color1}, 0.1) !important;
    }
    .friends-row,
    .friendsRow-2yicud {
      .friends-column-actions .friends-action {
        background-color: rgba({color1}, 0.1) !important;
      }
    }
    .friends-row,
    .friendsRow-2yicud {
      .friends-column-actions .friends-action:hover {
        background-color: rgba({color1}, 0.2) !important;
      }
    }
  }
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG {
  background: {bg} !important;
}
.theme-dark .container-1D34oG {
  background-color: rgba({bg}, 0.8) !important;
}

//  quick switcher (ctrl + k) 
.quickswitcher-3JagVE {
  background-color: {bg} !important;
  //  input 
  .input-2VB9rf {
    background-color: rgba({color1}, 0.1) !important;
  }
  //  focused search result 
  .resultFocused-3aIoYe {
    background-color: rgba({color1}, 0.2) !important;
  }
  .keybindShortcut-1BD6Z1 span {
    background-color: {color6} !important;
    box-shadow: inset 0 -4px 0 rgba({color1}, 0.6) !important;
  }
}

//  search popup with help 
.searchPopout-1vUlP3 {
  background-color: $bgDarker !important;
  //  background on hover 
  .option-96V44q.selected-rZcOL- {
    background-color: rgba({color1}, 0.1) !important;
  }
}
.theme-dark .container-3ayLPN {
  background-color: {bg} !important;
}
.theme-dark .focused-2bY0OD {
  background-color: $bgDarker !important;
}
.theme-dark .dim-1l4L4y span {
  background-color: {bg} !important;
}
.theme-dark .option-96V44q.selected-rZcOL- {
  background-color: $bgDarker
}
.theme-dark .option-96V44q:after {
  background: linear-gradient(90deg,rgba(54,57,63,0),{bg} 80%)
}
.theme-dark .option-96V44q.selected-rZcOL-:after {
  background: linear-gradient(90deg,rgba(54,57,63,0),$bgDarker 80%)
}
.theme-dark .elevationBorderHigh-2WYJ09 {
  -webkit-box-shadow: none;
  box-shadow: none;
}
//  auto-complete popup when mentioning users 
.autocomplete-1vrmpx {
  background-color: $bgDarker !important;
  //  on hover 
  .selectorSelected-1_M1WV {
    background-color: rgba({color1}, 0.1) !important;
  }
}

//  pop-out when clicking on user 
  //  header 
.headerPlaying-j0WQBV,
.headerNormal-T_seeN {
  background-color: {color1} !important;
}
.body-3iLsc4,
.footer-1fjuF6 {
  background-color: $bgDarker !important;
}
  //  send dm from popout 
.quickMessage-1yeL4E {
  background-color: rgba({color1}, 0.1) !important;
}

//  right-click 
.theme-dark.contextMenu-HLZMGh {
  background-color: $bgDarker !important;
  //  things like "Add Reaction" 
  .itemSubMenu-1vN_Yn {
    background-color: inherit !important;
  }
  //  divider 
  .itemGroup-1tL0uz {
    border-color: rgba({color1}, 0.05) !important;
  }
  //  volume slider in user popup 
  .bar-2Qqk5Z {
    background-color: {bg} !important;
    .barFill-23-gu- {
      background-color: {color1} !important;
    }
  }
}

//  search 
.search-results-wrap {
  background-color: $bgDarker !important;
  .search-header {
    background-color: inherit !important;
  }
  .channel-separator {
    .channel-name {
      background-color: $bgDarker !important;
    }
    &:before {
      border-color: rgba({color1}, 0.2) !important;
    }
  }
  .search-result {
    &:before,
    &:after {
      background-image: linear-gradient(
        0deg,
        rgba({color1}, 0),
        $bgDarker
      ) !important;
    }
    &.expanded .search-result-message.hit {
      background-color: $background !important;
      border-bottom: 2px solid $background !important;
      border-top: 2px solid $background !important;
    }
    .search-result-message.hit {
      border: 2px solid $background !important;
    }
    .hit {
      background-color: $background !important;
      box-shadow: 0 0 10px 6px $background !important;
    }
  }
  .action-buttons .jump-button {
    background-color: rgba({color1}, 0.8) !important;
  }
}

//  context menu
.contextMenu-HLZMGh {
  background-color: rgba($bgDarker, 0.6) !important;
}
.itemGroup-1tL0uz {
  border-color: rgba({bg}, 0.2) !important;
}
.colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:hover:not(.hideInteraction-1iHO1O) {
  background-color: {color1} !important;
}

//  new server menu
.theme-light .action-1lSjCi {
  background: rgba($bgDarker, 0.6) !important;
}
.header-3ZP1MY {
  color: #FFF !important;
}
.colorStandard-2KCXvj {
  color: #DCDDDE !important;
}
.sampleLink-KPFu3I {
  color: {color6} !important;
}

//  upload menu
.theme-dark .uploadModal-2ifh8j {
  background-color: {bg} !important;
}
.theme-dark .footer-3mqk7D {
  background-color: {bg} !important;
}

  // display of uploaded items
.anchor-3Z-8Bb {
  color: {color6} !important;
}

//  gif menu
.contentWrapper-2txmjs {
  background-color: {bg} !important;
}
  //  favourite tint
.theme-dark .categoryFadeBlurple-1j72_A, .theme-light .categoryFadeBlurple-1j72_A {
  background-color: rgba({color1}, 0.8) !important;
}

//  toolbar
.toolbar-2bjZV7 {
  background-color: rgba({bg}, 0.4) !important;
}

//  tooltips
.theme-dark .tooltipBrand-g03Nz8, .theme-light .tooltipBrand-g03Nz8 {
  background-color: rgba({color1}, 0.8) !important;
}
.introductionAction-M1r6AX {
  color: rgba({color1}, 0.8) !important;
}
.content-3O0wBS {
  background: rgba({bg}, 0.8) !important;
}
.content-3O0wBS .button-3zdF3z {
  color: rgba({bg}, 0.8) !important;
}
.theme-dark .tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK, .theme-light .tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK {
  border-top-color: rgba({color1}, 0.8) !important;
}

//  settings menu
.contentRegionScroller-26nc1e {
  background-color: $bgDarker !important;
}
.sidebarRegionScroller-3MXcoP {
  background: rgba($bgDarker, 0.8) !important;
}
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g {
  border-color: rgba({bg}, 0.4) !important;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ {
  background-color: {color1} !important;
}
.theme-dark .codeRedemptionRedirect-1wVR4b {
  background-color: rgba($bgDarker, 0.8) !important;
  border-color: rgba($bgDarker, 0.4) !important;
}
.theme-dark .footer-3rDWdC {
  background-color: {bg} !important;
}

//  public server browser
  //  highlight
.categoryPill-34fszg.selected-1dONk0 {
  background-color: rgba({color1}, 0.6) !important;
}   //  search panel
.searchPage-3GKAdT .search-1iTphC {
  background-color: rgba($bgDarker, 0.4) !important;
}
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus, .searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus-within {
  border-color: rgba({color1}, 0.6) !important;
}
  //  language panel
.css-1b86x2o-control {
  background-color: $bgDarker !important;
}
.css-9wh895-control {
  background-color: rgba($bgDarker, 0.4) !important;
}
.css-123uooi-menu {
  background-color: $bgDarker !important;
}
  //  verified icon
.verified-1eC5dy {
  color: {color6} !important;
}

