.messages-3amgkR {
  background-color: #282828 !important;
}

.panels-j1Uci_,
.scrollableContainer-2NUZem,
.scroller-2TZvBN,
.searchBar-3dMhjb {
  background-color: #242424 !important;
}

.theme-dark {
  background-color: #282828 !important;
}

.container-PNkimc {
  background-color: #242424 !important;
}

.foreground-2W-aJk {
  fill: #689d6a !important;
}

.nameUnreadText-DfkrI4,
.nameUnreadVoice-EVo-wI {
  color: #689d6a !important;
}

.nameDefaultText-24KCy5,
.nameDefaultVoice-3WUH7s,
.nameLockedText-3pqQcL,
.nameLockedVoice-26MhB1 {
  color: rgba(235, 219, 178, 0.5) !important;
}

.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2,
.nameCollapsed-34uFWo,
.nameDefault-2DI02H {
  color: rgba(235, 219, 178, 0.7) !important;
}

.nameMutedText-3Vj4bM,
.nameMutedVoice-3oxyQZ {
  color: rgba(235, 219, 178, 0.2) !important;
}

.unread-1Dp-OI {
  background: #689d6a !important;
}

.contentSelectedText-3wUhMi {
  background: rgba(204, 36, 29, 0.2) !important;
}

.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO:active,
.contentSelectedVoice-1WDIBM:active {
  background: rgba(204, 36, 29, 0.1) !important;
}

.container-1UB9sr {
  background-color: #242424 !important;
  border-bottom: 1px solid rgba(204, 36, 29, 0.1) !important;
}

.container-2Thooq {
  background-color: #242424 !important;
}

.container-2Thooq .horizontal-1ae9ci button {
  fill: #cc241d !important;
}

.unread-1xRYoj {
  background-color: rgba(104, 157, 106, 0.75) !important;
}

.content, .content-yTz4x3 {
  background-color: #282828 !important;
}

.inner-zqa7da {
  background-color: rgba(204, 36, 29, 0.1) !important;
}

.attachButtonPlus-rUdX-B {
  fill: #cc241d !important;
}

.chat form,
.chat-3bRxxu form {
  background-color: #282828 !important;
  box-shadow: 0 -1px 0 rgba(104, 157, 106, 0.1) !important;
}

.has-more button,
.hasMore-3e72_v button {
  background-color: #282828 !important;
  border-color: transparent !important;
}

.jump-to-present-bar {
  background-color: rgba(204, 36, 29, 0.6) !important;
}

.inner-zqa7da {
  background-color: rgba(204, 36, 29, 0.1) !important;
}

.messages .divider > span,
.divider-3gKybi > span {
  background-color: #282828 !important;
}

.messages .divider:not(.red) div,
.divider-3gKybi:not(.red) div {
  background: rgba(204, 36, 29, 0.3) !important;
}

.messages .divider:not(.red) span,
.divider-3gKybi:not(.red) span {
  color: rgba(204, 36, 29, 0.6) !important;
}

.messages .divider.divider-red > span,
.divider-3gKybi.divider-red > span {
  color: #689d6a !important;
}

.messages .divider.divider-red > div,
.divider-3gKybi.divider-red > div {
  background: #689d6a !important;
}

.new-messages-bar,
.newMessagesBar-mujexs {
  background-color: rgba(104, 157, 106, 0.9) !important;
}

.messages-wrapper,
.messagesWrapper-3lZDfY {
  background-color: #282828 !important;
}

.message-group .markup, .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup,
.message-group .markup-2BOw-j,
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup-2BOw-j {
  color: #ebdbb2 !important;
}

.message-group .markup code.inline,
.message-group .markup-2BOw-j code.inline {
  background-color: #412726 !important;
}

.message-group .markup pre, .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup pre,
.message-group .markup-2BOw-j pre,
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup-2BOw-j pre {
  border-color: #282828 !important;
}

.message-group .markup pre code, .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup pre code,
.message-group .markup-2BOw-j pre code,
.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .markup-2BOw-j pre code {
  background-color: #382827 !important;
}

.message-group .embedInner-1-fpTo, .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .embedInner-1-fpTo {
  background-color: #382827 !important;
}

.message-group .mentioned .message-text {
  background-color: rgba(104, 157, 106, 0.1) !important;
}

.message-group .mentioned .message-text:after {
  background: transparent !important;
  border-left-color: #689d6a !important;
}

.members-1998pB {
  background-color: #242424 !important;
}

.typing-2GQL18 {
  background-color: #282828 !important;
}

.title-3qD0b- {
  background-color: #242424 !important;
}

.title-3qD0b- .search-bar {
  background-color: rgba(204, 36, 29, 0.2) !important;
}

.guilds-wrapper,
.guildsWrapper-5TJh6A,
.wrapper-1Rf91z {
  background-color: #242424 !important;
}

.guilds-add,
.circleIconButton-jET_ig {
  border: 1px dashed rgba(204, 36, 29, 0.3) !important;
  background: inherit !important;
  color: rgba(204, 36, 29, 0.4) !important;
}

.guild .guild-inner,
.guild-1EfMGQ .guild-inner,
.container-2td-dC .wrapper-2lTRaf {
  background: inherit !important;
}

.guild.unread:before,
.guild-1EfMGQ.unread-qLkInr:before,
.wrapper-232cHJ {
  background: rgba(104, 157, 106, 0.65) !important;
}

.friends-online,
.friendsOnline-_wi_fM,
.friendsOnline-2JkivW {
  color: #cc241d !important;
}

.menu-Sp6bN1 {
  background: #282828 !important;
}

.menu-Sp6bN1 .separator-2zcjq8 {
  background: rgba(204, 36, 29, 0.4) !important;
}

.messagesPopoutWrap-1MQ1bW {
  background-color: #242424 !important;
}

.messagesPopoutWrap-1MQ1bW .header-ykumBX {
  background: #282828 !important;
}

.messagesPopoutWrap-1MQ1bW .footer-1kmXd4 {
  background: #282828 !important;
}

.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group {
  background-color: #282828 !important;
}

.messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_ {
  background-color: rgba(204, 36, 29, 0.6) !important;
}

.spinner-wandering-cubes .spinner-item {
  background-color: #cc241d !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.scroller-wrap .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller-wrap .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  border-color: rgba(204, 36, 29, 0.4) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb,
.scroller-wrap .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: #512725 !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.scroller-wrap .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: #282828 !important;
}

.scrollbar-2rkZSL {
  background-color: #242424 !important;
}

.scrollbar-2rkZSL .track-1JN30G {
  background-color: #242424 !important;
}

.scrollbar-2rkZSL .pad-29zQak {
  background-color: #242424 !important;
}

.scrollbar-2rkZSL .thumb-2JwNFC {
  background-color: rgba(204, 36, 29, 0.1) !important;
}

.channel.selected a,
.channel-2QD9_O.selected-1HYmZZ a {
  background: rgba(204, 36, 29, 0.2) !important;
}

.channel:hover a,
.channel-2QD9_O:hover a {
  background: rgba(204, 36, 29, 0.1) !important;
}

#friends,
.container-3gCOGc {
  background-color: #282828 !important;
}

#friends .headerBar-UHpsPw,
.container-3gCOGc .headerBar-UHpsPw {
  background: #242424 !important;
}

#friends .friends-table,
#friends .friendsTable-133bsv,
.container-3gCOGc .friends-table,
.container-3gCOGc .friendsTable-133bsv {
  background-color: #282828 !important;
}

#friends .friends-table .friends-row:hover,
#friends .friends-table .friendsRow-2yicud:hover,
#friends .friendsTable-133bsv .friends-row:hover,
#friends .friendsTable-133bsv .friendsRow-2yicud:hover,
.container-3gCOGc .friends-table .friends-row:hover,
.container-3gCOGc .friends-table .friendsRow-2yicud:hover,
.container-3gCOGc .friendsTable-133bsv .friends-row:hover,
.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover {
  background-color: rgba(204, 36, 29, 0.1) !important;
}

#friends .friends-table .friends-row .friends-column-actions .friends-action,
#friends .friends-table .friendsRow-2yicud .friends-column-actions .friends-action,
#friends .friendsTable-133bsv .friends-row .friends-column-actions .friends-action,
#friends .friendsTable-133bsv .friendsRow-2yicud .friends-column-actions .friends-action,
.container-3gCOGc .friends-table .friends-row .friends-column-actions .friends-action,
.container-3gCOGc .friends-table .friendsRow-2yicud .friends-column-actions .friends-action,
.container-3gCOGc .friendsTable-133bsv .friends-row .friends-column-actions .friends-action,
.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friends-column-actions .friends-action {
  background-color: rgba(204, 36, 29, 0.1) !important;
}

#friends .friends-table .friends-row .friends-column-actions .friends-action:hover,
#friends .friends-table .friendsRow-2yicud .friends-column-actions .friends-action:hover,
#friends .friendsTable-133bsv .friends-row .friends-column-actions .friends-action:hover,
#friends .friendsTable-133bsv .friendsRow-2yicud .friends-column-actions .friends-action:hover,
.container-3gCOGc .friends-table .friends-row .friends-column-actions .friends-action:hover,
.container-3gCOGc .friends-table .friendsRow-2yicud .friends-column-actions .friends-action:hover,
.container-3gCOGc .friendsTable-133bsv .friends-row .friends-column-actions .friends-action:hover,
.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friends-column-actions .friends-action:hover {
  background-color: rgba(204, 36, 29, 0.2) !important;
}

.quickswitcher-3JagVE {
  background-color: #282828 !important;
}

.quickswitcher-3JagVE .input-2VB9rf {
  background-color: rgba(204, 36, 29, 0.1) !important;
}

.quickswitcher-3JagVE .resultFocused-3aIoYe {
  background-color: rgba(204, 36, 29, 0.2) !important;
}

.quickswitcher-3JagVE .keybindShortcut-1BD6Z1 span {
  background-color: #689d6a !important;
  box-shadow: inset 0 -4px 0 rgba(204, 36, 29, 0.6) !important;
}

.searchPopout-1vUlP3 {
  background-color: #242424 !important;
}

.searchPopout-1vUlP3 .option-96V44q.selected-rZcOL- {
  background-color: rgba(204, 36, 29, 0.1) !important;
}

.autocomplete-1vrmpx {
  background-color: #242424 !important;
}

.autocomplete-1vrmpx .selectorSelected-1_M1WV {
  background-color: rgba(204, 36, 29, 0.1) !important;
}

.headerPlaying-j0WQBV,
.headerNormal-T_seeN {
  background-color: #cc241d !important;
}

.body-3iLsc4,
.footer-1fjuF6 {
  background-color: #242424 !important;
}

.quickMessage-1yeL4E {
  background-color: rgba(204, 36, 29, 0.1) !important;
}

.theme-dark.contextMenu-HLZMGh {
  background-color: #242424 !important;
}

.theme-dark.contextMenu-HLZMGh .itemSubMenu-1vN_Yn {
  background-color: inherit !important;
}

.theme-dark.contextMenu-HLZMGh .itemGroup-1tL0uz {
  border-color: rgba(204, 36, 29, 0.05) !important;
}

.theme-dark.contextMenu-HLZMGh .bar-2Qqk5Z {
  background-color: #282828 !important;
}

.theme-dark.contextMenu-HLZMGh .bar-2Qqk5Z .barFill-23-gu- {
  background-color: #cc241d !important;
}

.search-results-wrap {
  background-color: #242424 !important;
}

.search-results-wrap .search-header {
  background-color: inherit !important;
}

.search-results-wrap .channel-separator .channel-name {
  background-color: #242424 !important;
}

.search-results-wrap .channel-separator:before {
  border-color: rgba(204, 36, 29, 0.2) !important;
}

.search-results-wrap .search-result:before, .search-results-wrap .search-result:after {
  background-image: linear-gradient(0deg, rgba(204, 36, 29, 0), #242424) !important;
}

.search-results-wrap .search-result.expanded .search-result-message.hit {
  background-color: #282828 !important;
  border-bottom: 2px solid #282828 !important;
  border-top: 2px solid #282828 !important;
}

.search-results-wrap .search-result .search-result-message.hit {
  border: 2px solid #282828 !important;
}

.search-results-wrap .search-result .hit {
  background-color: #282828 !important;
  box-shadow: 0 0 10px 6px #282828 !important;
}

.search-results-wrap .action-buttons .jump-button {
  background-color: rgba(204, 36, 29, 0.8) !important;
}
