<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal emulator">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="Web browser">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>nautilus</execute>
			</action>
		</item>
		<item label="Music Player">
			<action name="Execute">
				<execute>urxvt -e ncmpcpp</execute>
			</action>
		</item>
		<item label="Application Menu">
			<action name="Execute">
				<execute>rofi -show run</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
		<separator/>
		<separator/>
		<item label="ObConf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="ObMenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Choose Random Wallpaper">
			<action name="Execute">
				<execute>randomwall</execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
		<item label="Poweroff">
			<action name="Execute">
				<execute>poweroff</execute>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<execute>reboot</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
